server {
    listen          80;

    auth_basic           "restricted";
    auth_basic_user_file htpasswd;

    location / {
#        add_header  Access-Control-Allow-Origin $http_origin;           #this mirrors back whatever domain the request came from as authorized, as
#        add_header  "Access-Control-Allow-Credentials" "true";          #as long as it matches one of your if statements
#        add_header  "Access-Control-Allow-Methods" "GET, OPTIONS";
#        add_header  "Access-Control-Allow-Headers" "Authorization, origin, accept";

        proxy_set_header Authorization  "";

        proxy_pass http://127.0.0.1:3000;
    }
}
