server {
    listen          8080;

    auth_basic           "restricted";
    auth_basic_user_file htpasswd;

    location / {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:3031;
    }

    location /static/ {
        alias /usr/share/graphite-web/static/;
    }
}
